// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;

$title-color:       rgba(255, 50, 50, 0.8);


// ----------------------------------------------------------------------------
// Widget-test styles
// ----------------------------------------------------------------------------
.widget-tox {

  background-color: $background-color;
  font-size:15px;
  overflow:none;
  white-space:pre;
  resize: none;
  
  margin: 0;
  padding: 0;
  .title {
    color: $title-color;
    margin: 0;
    padding: 0;
  }

  .value2 {
    color: $value-color;
    font-size:10px;
    overflow: auto;
    position: relative;
    width:220px;
    height:100px;
    margin: 0;
    padding: 0;
  }

}
