// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  rgba(50, 230, 50, 0.8);
$value-color:       #fff;

$title-color:       rgba(210, 55, 55, 0.8);


// ----------------------------------------------------------------------------
// Widget-test styles
// ----------------------------------------------------------------------------
.widget-rubusd {
  background-color: $background-color;
  font-size:10px;
  .title {
    color: $title-color;
  }

  .value2 {
    color: $value-color;
    font-size:15px;
  }

}
