// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;

$t-color:       rgba(245, 245, 245, 0.8);


// ----------------------------------------------------------------------------
// Widget-test styles
// ----------------------------------------------------------------------------
.widget-btc {
  margin:0px;
  border: 4px double black;
  padding: 0px;
  font-size:80%;
  background-color: $background-color;
  .title {
    margin-top:0%;
    text-align:center;
    color: rgba(245, 245, 245, 0.8); 
  }

  .value {
    margin:0px;
    padding:0px;
    text-align:right;
    color: $value-color;
  }
  .name {
    text-align:left;
    font-size:70%;
    color: $value-color;
  }

}
