// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;

$title-color:       rgba(255, 50, 50, 0.8);


// ----------------------------------------------------------------------------
// Widget-test styles
// ----------------------------------------------------------------------------
.widget-rts {

  background-color: $background-color;
  font-size:20px;
  .title {
    color: $title-color;
  }

  .value2 {
    color: $value-color;
    font-size:15px;
  }

}
